<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <!-- ERP deki birim seti kodu referans olarak yazılmalı-->
      <add key="ADET" value="ADET" />
      <add key="KOLI" value="KOLİ" />
      <add key="KOLİ" value="KOLI" />
      <!-- ERP deki birim seti kodu referans olarak yazılmalı-->
      <add key="URL" value="https://api.salesart.io" />
    </appSettings>
</configuration>