<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ERP deki birim seti kodu referans olarak yazılmalı -->
    <add key="ADET" value="AD" />
    <add key="KOLI" value="KL" />
    <!-- ERP deki birim seti kodu referans olarak yazılmalı -->
    <add key="URL" value="https://management.salesart.dev/" />
    <add key="collectionIsAutoApply" value="true" />
  </appSettings>
 
</configuration>