<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SalesArtIntegration_AZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- ERP deki birim seti kodu referans olarak yazılmalı -->
    <add key="ADET" value="AD" />
    <add key="KOLI" value="KL" />
    <!-- ERP deki birim seti kodu referans olarak yazılmalı -->
    <add key="URL" value="https://management.salesart.dev/" />
    <add key="collectionIsAutoApply" value="true" />
    <add key="isInvoice" value="true" />
    <add key="isWaybill" value="false" />
    <add key="isCollection" value="true" />
    <add key="C1ServiceUrl" value="http://10.100.0.152/BARDA_TEST/ws/WebService/"/>
    <add key="C1ServiceUsername" value="web_user"/>
    <add key="C1ServicePassword" value="wb_123"/>
  </appSettings>
  <userSettings>
    <SalesArtIntegration_AZ.Properties.Settings>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SavedUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedPassword" serializeAs="String">
        <value />
      </setting>
    </SalesArtIntegration_AZ.Properties.Settings>
  </userSettings>
</configuration>